user-service/src/main/resources/application.properties
user-service/src/main/resources/application.yml
notification-service/src/main/resources/application.properties
notification-service/src/main/resources/application.yml

